---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/WebPage">
    <div class="page__inner-wrap">
      {% if page.title != blank %}
        <header>
          <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
        </header>
      {% endif %}

      <section class="page__content" itemprop="mainContentOfPage">
        {{ content }}
      </section>
    </div>
  </article>
</div>
